<h1>{{title}}</h1>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}

<div class="row">
    <div class="col s6">
        {{#if user.avatarUrl}}
            <img 
                class="avatar" 
                {{!-- добавляем / , чтобы путь до файла был абсолютным, а не относительным --}}
                src="/{{user.avatarUrl}}" 
                alt="{{user.name}}-avatar">
        {{else}}
            <p>Аватара нет</p>
        {{/if}}
    </div>

    <div class="col s6">
        {{!-- тегу нужно задать значение enctype, чтобы форма могла работать с файлами --}}
        <form action="/profile" method="POST" enctype="multipart/form-data">
            <p>Ваш email: <strong>{{user.email}}</strong></p>

            <div class="input-field">
                <input id="name" name="name" type="text" class="validate" required value="{{user.name}}">
                <label for="name">Ваше имя</label>
                <span class="helper-text" data-error="Имя не может быть пустым"></span>
            </div>

            <div class="file-input input-field">
                <div class="btn">
                    <span>Аватар</span>
                    <input type="file" name="avatar">
                </div>
                
                <hr>
            </div>

            <input type="hidden" name="_csrf" value={{csrf}}>

            <button type="submit" class="btn">Изменить</button>
        </form>
    </div>
</div>